.title {
  font-size: 2rem;
  color:#0b2839fa;
  text-align: center;
  padding: 2rem;
  margin: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(30%, auto));
  width: auto;
  max-width: 100%;
  padding: auto;
  margin: 0;
  text-align: center;
}
.card {
  padding: 3.5rem 3.5rem;
  margin: auto;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 1;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 30ch;
}
.card a {
  margin: 0;
  opacity: 1;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 30ch;
}
.backbutton {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: inline-flexbox;
  border-radius: 5%;
  background-color: rgb(247, 195, 100);
  outline: 1px solid #0b2839fa;
  transition-property: 
    outline-offset,outline-color,background-color;
  transition-duration: 0.25s;
}
.backbutton:hover {
  outline-offset: 4px;
  background-color: rgb(247, 195, 100);
  outline-color: #0b2839fa;
  color: #fff;
}
.backbutton i {
  margin: auto;
}
.backbutton:hover i{
  animation: shake 0.25s;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}
